@font-face { font-family: 'PT Sans'; src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'PT Sans'; src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

body { background: #ffffff; color: #212228; font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif; font-weight: 400; font-size: calc(0.8rem + 0.2vw); line-height: 1.6; margin: 0; min-height: 100vh; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media (prefers-color-scheme: dark) { body { background: #212228; color: #ffffff; } }

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

b, strong, th { font-weight: 600; }

p { text-align: justify; }

a { color: #68f; text-decoration: inherit; }

a:hover { text-decoration: underline; }

header a, footer a, aside a { color: inherit; }

header time { color: #909194; }

hr { border: 1px solid rgba(144, 145, 148, 0.3); margin: 2em 0; }

article:not(:last-of-type) { border-bottom: 1px solid rgba(144, 145, 148, 0.14); }

blockquote { background: rgba(144, 145, 148, 0.06); border-left: 3px solid rgba(144, 145, 148, 0.9); padding: 1px 1.5em; opacity: .75; }

blockquote, figure { margin: 1em 0; }

img { margin: .5em 0; }

li { margin: .25em 0; }

img { border-radius: 2px; max-width: 100%; height: auto; }

table { display: inline-block; max-width: 100%; overflow-y: scroll; border-spacing: 1px; border-radius: 2px; box-shadow: 0 0 0 1px rgba(144, 145, 148, 0.12) inset; }

th, td { padding: .5em 1em; box-shadow: 0 0 0 1px rgba(144, 145, 148, 0.12); }

tr:hover, tr:nth-child(odd) td { background: rgba(144, 145, 148, 0.04); }

pre { background: rgba(144, 145, 148, 0.12); border-radius: 2px; font-size: .8em; margin: 1.5em 0; padding: .8em 1.2em; overflow-x: auto; }

:not(pre) > code { font-size: .9em; background: rgba(144, 145, 148, 0.15); opacity: .7; border-radius: 2px; margin: 0 .1em; padding: .2em .4em; }

body { display: flex; flex-direction: column; }

article { flex-grow: 1; }

body > header, body > footer { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; }

body > header, body > article, body > footer { padding: 1.5em; }

article header { margin-bottom: 1.5em; }

article header h1 { font-size: 1.7em; margin: 0 0 .1em; }

nav { margin: .5em -1.2em; }

nav a { margin: .5em 1.2em; }

.title { font-size: 1.25em; }

.more { margin: 2em 0 1em; }

.more a { border-radius: 2px; border: 1.5px solid #68f; padding: .4em .8em; transition: .2s background, .2s color; }

.more a:hover { color: #fff; background: #68f; text-decoration: inherit; }

.archive { font-size: 1.1em; }

.archive time { display: inline-block; min-width: 10ch; min-height: 1.75em; margin: 0 .2em; }

.icon { height: 1em; width: 1em; fill: currentColor; transition: .2s color; vertical-align: middle; margin-bottom: .15em; }

a:hover .icon { color: #909194; }

.full table { display: table; width: 100%; }

.katex { overflow-x: auto; overflow-y: hidden; }

.rouge-table, .rouge-table th, .rouge-table td, .rouge-table tr, .rouge-table pre { font-size: inherit; background: inherit !important; box-shadow: none; width: initial; margin: 0; padding: 0; }

.rouge-table .gl pre { margin: 0 1.5em 0 .25em; opacity: .5; }

.highlight pre { background: rgba(47, 48, 57, 0.9); color: white; }

.highlight .c { color: #a29f90; }

.highlight .err { color: #960050; background-color: #1e0010; }

.highlight .k { color: #66d9ef; }

.highlight .l { color: #ae81ff; }

.highlight .n { color: #f8f8f2; }

.highlight .o { color: #f92672; }

.highlight .p { color: #f8f8f2; }

.highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs { color: #75715e; }

.highlight .ge { font-style: italic; }

.highlight .gs { font-weight: bold; }

.highlight .kc, .highlight .kd { color: #66d9ef; }

.highlight .kn { color: #f92672; }

.highlight .kp, .highlight .kr, .highlight .kt { color: #66d9ef; }

.highlight .ld { color: #e6db74; }

.highlight .m { color: #ae81ff; }

.highlight .s { color: #e6db74; }

.highlight .na { color: #a6e22e; }

.highlight .nb { color: #f8f8f2; }

.highlight .nc { color: #a6e22e; }

.highlight .no { color: #66d9ef; }

.highlight .nd { color: #a6e22e; }

.highlight .ni { color: #f8f8f2; }

.highlight .ne, .highlight .nf { color: #a6e22e; }

.highlight .nl, .highlight .nn { color: #f8f8f2; }

.highlight .nx { color: #a6e22e; }

.highlight .py { color: #f8f8f2; }

.highlight .nt { color: #f92672; }

.highlight .nv { color: #f8f8f2; }

.highlight .ow { color: #f92672; }

.highlight .w { color: #f8f8f2; }

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo { color: #ae81ff; }

.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2 { color: #e6db74; }

.highlight .se { color: #ae81ff; }

.highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss { color: #e6db74; }

.highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi { color: #f8f8f2; }

.highlight .il { color: #ae81ff; }

.highlight .gu { color: #75715e; }

.highlight .gd { color: #f92672; }

.highlight .gi { color: #a6e22e; }

@media (min-width: 40em) { body > header, body > article, body > footer { padding: 1.75em calc(40% - 17em); } }

body > header { box-shadow: 0 0 0.6em rgba(33, 34, 40, 0.04); border-bottom: 1px solid rgba(144, 145, 148, 0.14); }

body > footer { box-shadow: 0 0 0.6em rgba(33, 34, 40, 0.04) inset; border-top: 1px solid rgba(144, 145, 148, 0.14); opacity: .9; }

/*# sourceMappingURL=index.css.map */