body {
    padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

hr { margin: 20px 0 20px 0; }

.center-block {  
    width:640px;
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}  