## C & Pico SDK ##
build/
!.vscode/*

## KiCad ##

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/
# Modified 4/23/2025 by Chris Parker


# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Include releases folder and current changes, but not specific versions (N/A)
releases/*
!releases/staging/
!releases/README.md
!releases/staging/*

# Mac things
*.DS_Store*
