body {
    width: 75%;
    margin: 0 auto;
}

#appendices h1 {
    font-size: large;
}
#appendices a {
    font-size: large;
}
#appendices{
    margin-bottom: 5vw;
}

img{
    width: 50%;
}

h4{
    font-style: italic;
}

/*----------------- navbar ------------------- */
.navbar {
    background-color: #fff;
    padding: 1.5vw 3vw;
    color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
    
    /* border: 2px solid red; */
}

.nav-links {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    flex:1;
    margin-left: 2vw;
    transition: transform 0.1s ease-in-out;
}
.nav-links li:hover{
    transform:scale(1.1);
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}