Diagnostics:
  Suppress:
    - pp_file_not_found_angled_include_not_fatal
    - unused-includes
    - indirect_goto_without_addrlabel
  Includes:
    IgnoreHeader: "pt_cornell_rp2040*"
CompileFlags:
  Add:
    -I"~\.pico-sdk\toolchain\14_2_Rel1\arm-none-eabi\include"
  BuiltinHeaders: QueryDriver