body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  color: black;
  padding-top: 30px;
  min-height: 70px;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
header li {
  display: inline;
  margin: 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ffffff;
  font-weight: bold;
}
section {
  margin: 20px 0;
  padding: 40px 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
img {
  width: 45%;
  height: auto;
  border-radius: 10px;
}
.caption {
  font-style: italic;
  font-size: 0.9em;
}

pre {
  background-color: #eee;
  margin: 10px 50px;
  padding: 20px 0px 0px 0px;
  border-radius: 10px;
}
