body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.75vw; 
    width: 100%;
    text-align: center;
    color:#333;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
}

p{
    font-size: 2rem;
    text-align: left;
    line-height: 1.5;
}
hr{
    border-width:0;
}
img{
    text-align: center;
    width: 50%;
}

/*----------------- navbar ------------------- */
.navbar {
    background-color: #fff;
    padding: 1.5vw 3vw;
    color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
    
    /* border: 2px solid red; */
}

.nav-links {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 2vw;
    transition: transform 0.1s ease-in-out;
}
.nav-links li:hover{
    transform:scale(1.1);
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}


/*----------------- blocks ------------------- */

.block{
    margin: 0vw 12vw;
}

.materials p{
    text-align: center;
}

.headshots{
    display:flex;
    margin: 5vw;
}
.headshot-block{
    flex:1;
    text-align: center;
}

.headshot-block img{
    border-radius: 50%;
}

.code_link{
    color:#333;
    font-size: 3rem;
    font-weight:bold;
}

.ref-links{
    list-style-type: none;

    font-size:2rem;
    
}

.ref-links li a{
    text-align: center;
    /* text-decoration: none; */
    color:#333;

}

.configs{
    display:flex;
    justify-content: center;
}

.configs img{
    flex:1;
    margin: 1vw;
    width: 20%;
}