/* Add padding to the bottom of videos, to separate them from the next text */
.video_wrapper {
  margin-bottom: 24px !important;
}

.bottompadding {
  margin-bottom: 24px !important;
}

.image-border img {
  border: 2px solid #b31b1b;
}

.image-corners img {
  border-radius: 25px;
}