.u-section-1 {
  background-image: url("images/c015b15b644c6bbaa363a33b058b4cb6a3ea2b22560675724d79ea0d46cec126640b37329a0a2fe29a11a409385029341c2ad529d8c13334ec8e0d_1280.jpg");
  background-position: 99.89% 84.07%;
  background-size: 280%;
}

.u-section-1 .u-sheet-1 {
  min-height: 142px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-style: italic;
  margin: 32px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 6668px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 45px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 45px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.75rem;
  margin: 20px 570px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: -643px 20px 0 550px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 512px;
  margin: 20px 20px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 71px 0 0;
}

.u-section-2 .u-image-2 {
  width: 983px;
  height: 761px;
  margin: 38px auto 0 79px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 20px 263px 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 38px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  margin: 45px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 20px 0 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6635px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 370px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 370px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 728px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    width: 615px;
    margin-right: 162px;
    margin-left: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6465px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 150px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 558px;
  }

  .u-section-2 .u-text-8 {
    margin-right: -22px;
    margin-left: 128px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 23px;
    margin-left: -22px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 23px;
    margin-left: -22px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 23px;
    margin-left: -22px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 23px;
    margin-left: -22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6299px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 485px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 419px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
    width: 540px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5964px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 305px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 264px;
  }

  .u-section-2 .u-text-8 {
    width: 340px;
  }
}
