.u-section-1 .u-sheet-1 {
  min-height: 948px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 88px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-image-1 {
  width: 402px;
  height: 279px;
  margin: 45px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 65px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 52px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 326px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -272px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 348px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -294px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -52px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -320px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 389px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 236px;
    margin-top: -346px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -395px;
  }
}
