.u-section-1 {
  background-image: url("images/e9ca7aed82e1810e25aad17307372ae902e344532096f50f2a1681c5df62739bc0d8421cdb23ecfdaa03abe47d5128b65dd76b6b05d67e18523de3_1280.jpg");
  background-position: 50% 10.11%;
}

.u-section-1 .u-sheet-1 {
  min-height: 142px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 32px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3211px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 39px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 373px;
  margin: 40px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 60px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 20px 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3191px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3060px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 222px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1830px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 416px;
  margin: 40px auto 0 285px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 828px;
  height: 376px;
  margin: 40px auto 0 156px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 40px 0 -1608px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-2 {
    margin-left: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1781px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 327px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 394px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 248px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 154px;
  }
}
