.u-section-1 {
  background-image: url("images/0fbdd464d2998cfd6d8d16480035163a4e3ee8d0719c26118daf8433ead8af44618646c81cc9c79351da9645e47ccc01f2dc08fe805e6dc36b0b30_1280.jpg");
  background-position: 50% 39.74%;
}

.u-section-1 .u-sheet-1 {
  min-height: 147px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-style: italic;
  margin: 34px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 4067px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 42px -13px 0 13px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px -13px 0 13px;
}

.u-section-2 .u-video-1 {
  width: 778px;
  height: 438px;
  margin: 20px auto 0 173px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 13px -13px 0 13px;
}

.u-section-2 .u-video-2 {
  width: 778px;
  height: 438px;
  margin: 40px auto 0 173px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 13px -13px 0 13px;
}

.u-section-2 .u-video-3 {
  width: 778px;
  height: 438px;
  margin: 40px auto 0 173px;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 20px -13px 0 13px;
}

.u-section-2 .u-video-4 {
  width: 778px;
  height: 438px;
  margin: 40px auto 0 173px;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 20px -13px 0 13px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  background-image: none;
  font-style: italic;
  margin: 13px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 42px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-1 {
    margin-left: 162px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-2 {
    margin-left: 162px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-3 {
    margin-left: 162px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-4 {
    margin-left: 162px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3935px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }

  .u-section-2 .u-video-2 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }

  .u-section-2 .u-video-3 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }

  .u-section-2 .u-video-4 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3531px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-2 .u-video-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-2 .u-video-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-2 .u-video-4 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3079px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-video-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-video-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-video-4 {
    width: 340px;
    height: 191px;
  }
}
