

pre {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  max-height: 800px;
  text-align: left;
  overflow: scroll;
}
code{
  height:100%;
}

pre .com, code .com { color: #035a0f; font-style: italic; } /* comment - green */

li{ 
  list-style: none;
}