html{
    height:100%
}
h1{
    text-justify:center;
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0);
    font-weight: Bold
}
h1 {
    }
body {
    background: rgb(234, 251, 249);
    color: black;
	font-family: Palatino;
  }