.float-right {
  float: right;
  max-width: 40%;
  margin-left: 10px;
  border-radius: 10px;
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
}

.full-bordered {
  display: block;
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bordered {
  max-width: 80%;
  display: block;
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.smaller {
    max-width: 60%;
}
