body {
    font-family: Calibri, sans-serif;
    background-color: #f4f4f4;
    margin: 100px;
}

h1 {
    color: #000000;
    padding-left: 100px;  
}

h2 {
    color: #000000;
    padding-left: 100px;  
}

p {
    font-size: 20px;
    font-weight: 375;
}

ul {
    font-size: 20px;
    font-weight: 375;   
    padding-left: 150px;  
}


img {
    display: block;
    margin: 0 auto;
}

