 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 606px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  line-height: 1.6;
  width: 667px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  height: 522px;
  margin-top: 30px;
  margin-bottom: 52px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-text-1 {
  margin: 21px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 708px;
}

.u-section-4 .u-text-1 {
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 404px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0;
}.u-section-6 .u-sheet-1 {
  min-height: 780px;
}

.u-section-6 .u-text-1 {
  margin: 16px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 404px;
}

.u-section-7 .u-text-1 {
  margin: 60px 0;
}.u-section-8 .u-sheet-1 {
  min-height: 524px;
}

.u-section-8 .u-text-1 {
  margin: 60px 0;
}.u-section-9 .u-sheet-1 {
  min-height: 404px;
}

.u-section-9 .u-text-1 {
  margin: 60px 0;
}.u-section-10 .u-sheet-1 {
  min-height: 558px;
}

.u-section-10 .u-text-1 {
  margin: 60px 0;
}.u-section-11 .u-sheet-1 {
  min-height: 404px;
}

.u-section-11 .u-text-1 {
  margin: 60px 0;
}.u-section-12 .u-sheet-1 {
  min-height: 404px;
}

.u-section-12 .u-text-1 {
  margin: 60px 0;
}.u-section-13 .u-sheet-1 {
  min-height: 708px;
}

.u-section-13 .u-text-1 {
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 404px;
}

.u-section-14 .u-text-1 {
  margin: 60px 0;
}.u-section-15 .u-sheet-1 {
  min-height: 708px;
}

.u-section-15 .u-text-1 {
  margin: 31px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 404px;
}

.u-section-16 .u-text-1 {
  margin: 60px 0;
}

.u-section-16 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-16 .u-btn-4 {
  background-image: none;
  padding: 0;
}