/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header and Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#navbar {

    padding: 15px 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
    /* text-align: center; */
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2c3e50;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: #3498db;
}

/* Sections */
.section {
    padding: 20px 0 20px;
    /* min-height: 120vh; */
    display: flex;
    align-items: top;
}

/* Title Section */
#title {
    min-height: 50vh;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 20px;
}

#title h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #2c3e50;
    margin: 0;
}

#title h2 {
    font-weight: 350;
}

#appendix ul {
    list-style: disc;
    margin-left: 2em;
    font-size: 1.5rem;
    color: #555;
}

figcaption {
    font-size: 1.5rem;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    display: block;
    width: 100%;
    justify-content: center;
}

#title iframe {
    border: none;
    margin-top: 20px;
}

#title .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .section:nth-child(even) {
    background-color: #fff;
} */

h2 {
    margin-bottom: 25px;
    color: #2c3e50;
    font-size: 2rem;
    font-weight: 600;
}

p {
    margin-bottom: 15px;
    color: #555;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-wrap: wrap;
    }

    .nav-links li {
        margin: 5px 10px;
    }

    #navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .section {
        padding: 120px 0 60px;
    }
}