@import url("https://fonts.googleapis.com/css?family=Comfortaa");

:root {
  background: url(./assets/dithered_texture.png) repeat-x, #f4f4f4;
  --primary-text-color: #f4f4f4;
  --secondary-text-color: #257179;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  color: #1a1c2c;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 3rem;
  background-color: #257179;
  color: #f4f4f4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: scroll;
}

a {
  color: #257179;
  text-decoration: none; /* no underline */
}

header a {
  color: #f4f4f4;
  text-decoration: none; /* no underline */
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  overflow-x: auto;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
}

.image-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.image-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  font-size: 14px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #f4f4f4;
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #f4f4f4;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #257179;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

h2 {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-style: italic;
}

.code {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
}
