html {
	background-color: #dddcdb;
	font-size: 100%;
	font-family: 'Tahoma', 'Arial', sans-serif;
	box-sizing: border-box;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	margin-top: -10px;
	position: fixed;
	background-color: rgb(20, 20, 20);
	width: 100%;
	padding: 0;
	margin-bottom: 0px;
	z-index: 10;
}

.container {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu {
	flex-direction: column;
	background-color: rgb(83 68 147);
}

.menu a.is-active {
	display: block;
}

.menu a {
	/*	change this to block to show the mini-menu*/
	display: none;
	color: #ffffff;
	margin: 0px;
	font-weight: 600;
	padding-left: 30px;
	font-size: 15px;
}

.menu #home {
	margin-top: 30px;
}

a.drop {
	display: block;
	height: 30px;
	width: 100%;
	margin: 10px;
	padding: 1px;
	padding-left: 10px;
}


.hamburger {
	float: right;
	border: rgb(255, 255, 255) 10px;
	background: rgb(40, 40, 40);
	;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	padding: 5px;
	height: 30px;
}

.hamburger span {
	display: block;
	width: 30px;
	height: 4px;
	margin: 4px;
	position: relative;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
}


h1 {
	color: rgb(20, 20, 20);
	font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

h4 {
	color: rgb(20, 20, 20);
	font-family: 'Tahoma','Helvetica', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-align: left;
}

main {
	padding: 1em;
	margin: 0 auto;
	max-width: 950px;
	min-width: 150px;
	line-height: 25px;
}

#title {
	background-image: url("header_placeholder.png");
	background-color: transparent;
	background-size: cover;
	padding-top: 90px;
	padding: 0px;
}

#bgtide {
	margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
	background-color: #ffffff;
	border: 1px solid rgb(83 68 147);
	opacity: 0.93;
}

.introtext {
	margin: 0;
	text-align: center;
	background-color: rgb(83, 68, 147);
	padding: 6px;
	font-size: 18pt;
	font-weight: bold;
	color: rgb(251, 251, 251);
	padding: 10px;
}

h2 {
	color: rgb(20, 20, 20);
	font-size: 35px;
	font-weight: bold;
	margin-top: 50px;
}

h3 {
	color: rgb(20, 20, 20);
	font-weight: bold;
	margin-top: 35px;
	text-align: left;
	font-size: 25px;
}

#hello {
	font-weight: bold;
	font-size: 25px;
}

#hi2 {
	color: rgb(20, 20, 20);
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;
}

#myphoto {
	float: left;
	margin-right: 10px;
}

.myinfo {
	padding-left: 0.5em;
}

.myinfo2 {
	margin-top: 50px;
	margin-left: 520px;
	padding-left: 0.5em;
	border-left: 3px solid rgb(200, 135, 22)
}


.experience {
	font-family: "Times New Roman", Times, serif;
}

.timeloc {
	font-style: italic;
}

.project {
	font-size: 18px;
}

.code_fonts {
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
}

#price {
	padding-left: 30px;
	font-size: 20px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/*
.block {
  margin: 10px;
  padding: 10px;
  flex: 1;
  border: 2px dotted blue;
}*/

.start {
	margin-top: 35px;
	font-weight: bold;
	font-size: 18px;
}

.diagram {
	display: block;
	margin: 0 auto;
}

.video {
	display: block;
	margin: 0 auto;
}

.contact {
	text-align: center;
}

p {
	color: black;
}

em {
	font-style: normal;
	/* removes italics */
	font-weight: bold;
	/* adds bold */
}

#workdis ul {
	list-style-type: none;
}

#workdis ul li {
	font-size: 16px;
}

.cent-cont {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex: 1;
	justify-content: space-evenly;
}

.block3 {
	margin: 10px;
	padding: 5px;
	flex: 1;
}

ul li {
	color: black;
	font-size: 18px;
}

li {
	color: black;
	font-size: 18px;
}

footer {
	font-style: italic;
	font-size: 13px;
	background-color: rgb(20, 20, 20);
	padding: 1em;
}

footer p {
	color: #ffffff;
	text-align: center;
}
/*
main img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 750px;
	height: auto;
	display: block;
	border-radius: 15px;
}
*/
.caption {
	text-align: center;
	color: rgb(20, 20, 20);
	font-style: italic;
}

@media (min-width: 600px) {
	html {
		background-color: #dddcdb;
		font-size: 100%;
	}

	nav {
		/* background: url(../images/bg-transparent1.png) repeat; */
		margin: 0;
		min-height: 30px;
		padding: 0;
		width: auto;
		position: fixed;
	}

	nav .container {
		margin: 0 auto;
		position: fixed;
		background-color: #534493;
		top: 0px;
		width: 100%;
		min-height: 30px;
		padding: 0 10px;
	}

	nav .menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 10px;
		text-align: center;
		float: left;
		list-style: none;
	}

	nav .menu a {
		float: left;
		width: auto;
		flex-grow: 1;
		color: #ffffff;
		font-size: 15pt;
		font-weight: bold;
		display: inline-block;
		font-size: 15px;
		line-height: 39px;
		margin: 0;
		height: 30px;
		padding: 0 20px;
		text-align: center;
		
	}

	.menu #home {
		margin-top: 0;
	}

	nav .menu a:hover {
		background-color: #534493;
		color: #ffffff;
	}

	.hamburger {
		display: none;
	}
}