html{
    font-family: Palatino;
}

body {
    margin: 0;
    background: #2b333b;
}

header {
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 40px;
    font-family: Palatino;
    background: #1b2127;
    border-bottom: solid 1px #ffffff;
  }
  
header h1 {
    width: 1000px;
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
  }

header h2 {
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.3;
    color: #5ab9cc;
    letter-spacing: 0;
  }

pre{
    white-space: pre-wrap;
    font-family: Palatino;

}

#main-content{
    float:left;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Palatino;
    font-size: 1.2em;
    color: white;
}

#main-content img{
    max-width: 80%;
}

#main-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Palatino;
    font-size: 2.0em;
    font-weight: normal;
    color: #ffffff;
    text-indent: 6px;
    letter-spacing: -1px;
}
  
#main-content h1:before {
    padding-right: 0.2em;
    margin-left: -0.9em;
    color: #5ab9cc;
    content: ">";
}

#main-content h2 {
    margin-bottom: 4px;
    font-family: Palatino;
    font-size: 28px;
    font-weight: 500;
    color: #5ab9cc;
}

#main-content h3 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: Palatino;
    font-size: 24px;
    font-weight:bold;
    color: #ffbfea;
    text-indent: 3px;
    text-decoration: underline; 
  }

.box{
    display: flex;
}
.tightbox{
    display: inline-block;
}

.navbar {
    z-index: 9999;
    overflow: hidden;
    background-color: #274559;
    position: fixed; 
    top: 0; 
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    /*border:1px solid #bcbcbc*/
  }
  
  .navbar a:hover {
    background: rgb(70, 125, 158);
    color: #ffffff;
  }

/* Image */

.image {
    border: 10 solid #5ab9cc;;
    display: inline-block;
    position: relative;
    margin: auto;
    /* border: 2px solid #3498db; */
}

    .image img {
        display: block;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.left {
        float: left;
        margin: 0 2rem 2rem 0;
        top: 0.75rem;
    }

    .image.right {
        float: right;
        margin: 0 0 2rem 2rem;
        top: 0.75rem;
    }

    .image.fit {
        display: block;
        margin: 2.5rem 0;
        width: 100%;
    }

        .image.fit:first-child {
            margin-top: 0;
        }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 4rem 0;
        width: 100%;
    }

        .image.main:first-child {
            margin-top: 0;
        }

        .image.main img {
            width: 100%;
        }

    @media screen and (max-width: 736px) {

        .image.fit {
            margin: 2rem 0;
        }

        .image.main {
            margin: 2rem 0;
        }

    }

a.image {
    overflow: hidden;
}

    a.image img {
        -moz-transition: -moz-transform 0.2s ease-out;
        -webkit-transition: -webkit-transform 0.2s ease-out;
        -ms-transition: -ms-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
    }

    a.image:hover img {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
