body {
    background-image:linear-gradient(rgb(34,33,48),rgb(19, 18, 27));
    background-size: contain;
    color: whitesmoke;
    text-align: left;
    font-family: "Quantico", sans-serif;
    line-height: -30;
    margin: auto;
}

main {
  padding: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(12, 12, 16);
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float:inline-start;
  background-color: rgba(12, 12, 16);
  color: rgb(216, 95, 58);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color:rgba(12, 12, 16);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(216, 95, 58);
  color: whitesmoke;
}

.designnav a {
  color:#ec7f37;
  display: block;
}

.top {
  background: -webkit-linear-gradient(rgb(221, 134, 41), rgb(216, 90, 49));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
}

.intro, .design, .results, .conclusions, .appendix {
    text-align: left;
    padding: 20px;
    background-color:rgba(12, 12, 16, 0.781);
    border-radius: 6px;
}

/* Tab logic for design and appendix pages */
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: rgba(12, 12, 16, 0.781);
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
  display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
  background-color: rgb(216, 90, 49);
  box-shadow: 0 -1px 0 rrgb(216, 90, 49) inset;
  cursor: default;
}
.tab:checked + label:hover {
  box-shadow: 0 -1px 0 rgb(216, 90, 49) inset;
  background-color: rgb(216, 90, 49);
}
.tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: rgba(12, 12, 16);
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}

.tab__content {
  padding: 20px;
}

.tab__content a {
  color:rgb(216, 90, 49);
  display: block;
}

table,th,td {
  border: 1px solid;
  padding: 10px;
}

table {
  border-collapse: collapse;
  align-content: center;
}

hr {
  width: 99%;
  align-self: center;
}

img {
  display: block;
  margin: auto;
  width: 75%;
  height: auto;
  background-color: whitesmoke;
  text-align: center;
}

html {
  height: 100%;
}

em {
  text-align: center;
  padding-bottom: 10px;
}

.desctree {
  width:75%;
  height: auto;
}

